<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="huitca1212.alubia13"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AlubiaApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/common_app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />

        <activity android:name=".ui.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.schedule.ScheduleActivity"
            android:label="@string/home_schedule" />
        <activity
            android:name=".ui.schedule.FridayActivity"
            android:label="@string/schedule_friday" />
        <activity
            android:name=".ui.schedule.SaturdayActivity"
            android:label="@string/schedule_saturday" />
        <activity
            android:name=".ui.schedule.SundayActivity"
            android:label="@string/schedule_sunday" />
        <activity
            android:name=".ui.schedule.MondayActivity"
            android:label="@string/schedule_monday" />
        <activity
            android:name=".ui.schedule.GreetingActivity"
            android:label="@string/schedule_greeting_title" />
        <activity
            android:name=".ui.schedule.QueensLadiesActivity"
            android:label="@string/schedule_queens_ladies_title" />
        <activity
            android:name=".ui.schedule.RaceActivity"
            android:label="@string/schedule_race_title" />
        <activity
            android:name=".ui.more.MoreActivity"
            android:label="@string/home_more" />
        <activity
            android:name=".ui.forum.ForumMenuActivity"
            android:label="@string/home_forum" />
        <activity
            android:name=".ui.forum.ForumLoginEmailActivity"
            android:label="@string/forum_menu_button" />
        <activity
            android:name=".ui.forum.ForumLoginPasswordActivity"
            android:label="@string/forum_menu_button" />
        <activity
            android:name=".ui.forum.ForumForgottenPasswordActivity"
            android:label="Olvidé mi contraseña" />
        <activity
            android:name=".ui.forum.ForumRegisterUserActivity"
            android:label="@string/forum_register" />
        <activity
            android:name=".ui.forum.ForumRegisterEmailActivity"
            android:label="@string/forum_register" />
        <activity
            android:name=".ui.forum.ForumRegisterPasswordActivity"
            android:label="@string/forum_register" />
        <activity
            android:name=".ui.forum.ForumRegisterCodeActivity"
            android:label="@string/forum_register" />
        <activity
            android:name=".ui.forum.ForumActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:label="@string/home_forum" />
        <activity
            android:name=".ui.more.FestivityInfoActivity"
            android:label="Sobre la fiesta" />
        <activity
            android:name=".ui.news.NewsActivity"
            android:label="@string/home_news" />
        <activity
            android:name=".ui.more.settings.SettingsActivity"
            android:label="Ajustes" />
        <activity
            android:name=".ui.more.ContactActivity"
            android:label="Contactar" />
        <activity
            android:name=".ui.more.alubiaQuiz.AlubiaQuizMenuActivity"
            android:label="@string/alubiaquiz_title" />
        <activity
            android:name=".ui.more.alubiaQuiz.AlubiaQuizEasyActivity"
            android:label="@string/alubiaquiz_title" />
        <activity
            android:name=".ui.more.alubiaQuiz.AlubiaQuizMediumActivity"
            android:label="@string/alubiaquiz_title" />
        <activity
            android:name=".ui.more.alubiaQuiz.AlubiaQuizDifficultActivity"
            android:label="@string/alubiaquiz_title" />
        <activity
            android:name=".ui.more.alubiaQuiz.AlubiaQuizSolutionActivity"
            android:label="@string/alubiaquiz_solution" />
        <activity
            android:name=".ui.album.SimpleImageActivity"
            android:label="@string/album_image_list_title" />
        <activity
            android:name=".ui.album.ComplexImageActivity"
            android:label="Álbum" />
    </application>
</manifest>