<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="huitca1212.alubia13"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AlubiaApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />

        <activity android:name=".ui.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.schedule.ScheduleActivity"
            android:label="@string/programa" />
        <activity
            android:name=".ui.schedule.FridayActivity"
            android:label="@string/viernes" />
        <activity
            android:name=".ui.schedule.SaturdayActivity"
            android:label="@string/sabado" />
        <activity
            android:name=".ui.schedule.SundayActivity"
            android:label="@string/domingo" />
        <activity
            android:name=".ui.schedule.MondayActivity"
            android:label="@string/lunes" />
        <activity
            android:name=".ui.schedule.GreetingActivity"
            android:label="@string/saludo" />
        <activity
            android:name=".ui.schedule.QueensLadiesActivity"
            android:label="@string/reinas_damas" />
        <activity
            android:name=".ui.schedule.RaceActivity"
            android:label="@string/carrera" />
        <activity
            android:name=".ui.more.MoreActivity"
            android:label="@string/masinfo" />
        <activity
            android:name=".ui.forum.ForumMenuActivity"
            android:label="@string/foro" />
        <activity
            android:name=".ui.forum.ForumLoginEmailActivity"
            android:label="@string/login" />
        <activity
            android:name=".ui.forum.ForumLoginPasswordActivity"
            android:label="@string/login" />
        <activity
            android:name=".ui.forum.ForumForgottenPasswordActivity"
            android:label="Olvidé mi contraseña" />
        <activity
            android:name=".ui.forum.ForumRegisterUserActivity"
            android:label="@string/registro" />
        <activity
            android:name=".ui.forum.ForumRegisterEmailActivity"
            android:label="@string/registro" />
        <activity
            android:name=".ui.forum.ForumRegisterPasswordActivity"
            android:label="@string/registro" />
        <activity
            android:name=".ui.forum.ForumRegisterCodeActivity"
            android:label="@string/registro" />
        <activity
            android:name=".ui.forum.ForumActivity"
            android:label="@string/foro" />
        <activity
            android:name=".ui.more.FestivityInfoActivity"
            android:label="Sobre la fiesta" />
        <activity
            android:name=".ui.news.NewsActivity"
            android:label="@string/novedades" />
        <activity
            android:name=".ui.more.settings.SettingsActivity"
            android:label="Ajustes" />
        <activity
            android:name=".ui.more.ContactActivity"
            android:label="Contactar" />
        <activity
            android:name=".ui.more.alubiaQuiz.AlubiaQuizMenuActivity"
            android:label="@string/alubiaquiz" />
        <activity
            android:name=".ui.more.alubiaQuiz.AlubiaQuizEasyActivity"
            android:label="@string/alubiaquiz" />
        <activity
            android:name=".ui.more.alubiaQuiz.AlubiaQuizMediumActivity"
            android:label="@string/alubiaquiz" />
        <activity
            android:name=".ui.more.alubiaQuiz.AlubiaQuizDifficultActivity"
            android:label="@string/alubiaquiz" />
        <activity
            android:name=".ui.more.alubiaQuiz.AlubiaQuizSolutionActivity"
            android:label="@string/solucion" />
        <activity
            android:name=".ui.album.SimpleImageActivity"
            android:label="@string/ac_name_image_list" />
        <activity
            android:name=".ui.album.ComplexImageActivity"
            android:label="Álbum" />
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>
</manifest>